.board-tab-container{
    display:flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2px;
    height: 20px;
}

/* TODO: change padding here to 10px maybe? so it looks better when entering new name */
.board-tab-name-input {
    width: 100%;
    background-color: inherit;
    border-radius: 4px;
    outline: none;
    color: var(--clr-text-primary);
    padding: 8px 2px;

}

.board-tab-name-input:focus {
    border: 2px solid var(--clr-accent);
}

.board-tab-button{
    background-color: transparent;
    border: none;
    color: inherit;
}

.board-tab-button:hover {
    cursor: pointer;
}

.board-tab-delete-button {
    display: flex;
    cursor: pointer;
    background-color: inherit;
    border: 0;
    opacity: 0;
}

.board-tab-container:hover .board-tab-delete-button{
    opacity: 0.8;
}

.board-tab-container:hover .board-tab-delete-button:hover{
    opacity: 1;
}