@import "../../variables.css";

.user-settings-button {
    background-color: transparent;
    border: none;
    padding: auto 0 ;

}

.user-settings-button:hover {
    cursor: pointer;
}

.user-settings-container {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.user-settings-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--clr-bg-primary-light);
    color: var(--clr-text-secondary); 
    z-index: 1;
}

/* Links inside the dropdown */
.user-settings-dropdown-content a {
    padding: 12px 16px;
    display: block;
}

/* Change color of dropdown links on hover */
.user-settings-dropdown-content a:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Show the dropdown menu on hover */
.user-settings-container:hover .user-settings-dropdown-content {
    display: block;
}